.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #dfe4f4;
  align-items: center;
}
.feature {
 
  display: flex;
 
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.featureUL {
 width: 100%;
 height:50%;
}

.textlist {
  display: flex;
  margin-left: 1rem;
  background-color: #4ea3dd;
  border-radius: 0.2rem;
  color: #dfe4f4;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-direction: column;
  align-items: center;
   width: 60%;
  height: 58%;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.divBtn{
  display: flex;


  
}

button{text-align: center;
  box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    background:linear-gradient(to bottom,#4ea3dd 5%, #6888f3 100%);
    background-color:#7892c2;
    border-radius:5px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #283966;
  }
  button:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
  }
  button:active {
    top:1px;
  }
.textbnt1{ 
flex: 3;
}


.textbnt2{ 
  flex: 3;
 
  }
  .textbnt3{ 
flex: 3;

    }
h1 {
margin-bottom: 1rem;
  color: #0193f7;
}
.pp{
  margin-top: 0.3rem;
 margin-left: 0.5rem;
  display: flex;
  overflow: hidden;}


@media (min-width: 249px) and (max-width: 480px) {
  .feature {
    display: flex;
  flex-direction: column;
  margin-top: 1rem;
    width: 100%;
    height:100%;
    margin-right: 0.02rem;
    margin-left: 0.02rem;
  }
  .featureUL {
    width: 100%;
    height:95%;
   }
   .title{font-size:medium;
  padding-bottom: 0.01rem;}

  .textlist {
    display: flex;
    margin-left: 0.5rem;
    background-color: #4ea3dd;
    border-radius: 0.2rem;
    color: #dfe4f4;
   
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
    align-items: center;
     width:90%;
    height: 60%;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }

  .divBtn {
    display: flex;
    max-width: 60%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
  padding-right: 0.7rem;
  padding-left: 0.2rem;}

    .textbnt1{ 
      flex: 3;
      width: 60%;
      }
      
      
      .textbnt2{ 
        flex: 3;
        width: 98%;
        }
        .textbnt3{ 
      flex: 3;
      width: 98%;}
}
