.formM {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #4ea3dd;
  height: 100%;
  color: black;
}
label {
  color: #dfe4f4;
}
#lname {
  display: flex;
height: 50%;

}
span{ color: #dfe4f4;}
*::-webkit-scrollbar {
  width: 1rem;
}
.btn-submit{  background-color: #4ea3dd;
  color: #dfe4f4;
  border-color: #dfe4f4;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  text-align: center;
  width: 100%;
  height: 20%;}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color:#4ea3dd;
  border-radius: 0.3rem;
  border: 0.2rem solid #dfe4f4;
}