.navbarFather {
  margin-left: 5rem;
  height: 7%;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #bcd7ec;
  width: 90%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  justify-content: space-between;
}
.navBarUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 50%;
  list-style: none;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

.navBarLI {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: #4ea3dd;
  cursor: pointer;
  border-radius: 0.2rem;
  color: #dfe4f4;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbarh1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
}

.modal-button {
  display: flex;
  background-color: #4ea3dd;
  color: #dfe4f4;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-color: #dfe4f4;
  width: 10%;
  height: 50%;
}

@media (min-width: 249px) and (max-width: 480px) {
  .navbarFather {
    margin-left: 0.3rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .modal-button {
    width: 30%;
  }
}
